.cerceve{
    border-style: solid;
     border-radius: 10px;
     margin: 10px;
     padding: 20px;
     display: inline-block;
     width: 30%;

}

.golgeyap{
    box-shadow: 0px  0px 50px 10px rgb(119, 32, 32);
}

.golgeyap:hover{
    box-shadow: 0px  0px 50px 10px rgb(16, 32, 110);
    
}