{% extends 'iceren.html' %}

{% block icerik%}
{% load static %}

<Title> VOT | Takımlar</Title>
<center>
    
    <div class="cerceve golgeyap" >
        
        <h2 style="background-color:aquamarine;" >Erkek Takımı</h2>
    
    <a href="/takimlar/erkektakimi/" >
        <img height="250"    src="{% static 'resimler/erkektakimi.jpeg' %}"/>
        
    </a>

</div>

 

  
<div class="cerceve golgeyap" style="display: inline-block;">

    <h2 style="background-color:aquamarine;" >Kadın Takımı</h2>
    <a href="/takimlar/kadintakimi/" >
        <img height="250"    src="{% static 'resimler/erkektakimi.jpeg' %}"/>
        
    </a>

</div>

<style>
.cerceve{
    border-style: solid;
     border-radius: 10px;
     margin: 10px;
     padding: 0px;
     display: inline-block;

}
</style>










<link rel="stylesheet" href="{% static 'cssler/siteayarlari.css' %}">


{% endblock %}
       
    

    

    </center>