{% extends 'iceren.html' %}

{% block icerik%}
{% load static %}

<Title> VOT | Takımlar</Title>
<center>
    
    <div>
<div class="cerceve golgeyap"

    <h2 style="background-color:aquamarine;" Kurul Üyeleri></h2>
    <a href="kurulüyeleri/" >
        <img height="200"    src="{% static 'voleybol.jpg' %}"/>
        
    </a>

</div>

<style>
.cerceve{
    border-style: solid;
     border-radius: 10px;
     margin: 10px;
     padding: 20px;
     display: inline-block;

}
</style>

<link rel="stylesheet" href="{% static 'cssler/siteayarlari.css' %}">


{% endblock %}
       
    

    

    </center>